
html {
    background-color: #22272e;
    font-family: monospace;
    text-align: center;
    color: #DCDDDE;
    width: 80%;

    margin: auto;
}

.infoPara {
    font-size: 20px;
    margin-top: 10px;
}

.infoTitle {
    color: #DCDDDE;
    font-size: 30px;
    margin-top: 20px;
}

.pageTitle {
    font-size: 40px;
}

.pageLink {
    font-size: 30px;
    color: #DCDDDE;
}